body.full-fill {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

.full-fill:not(body) {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.url-wrapper {
    width: 100%;
    height: 32px;
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    top: 32px;
    left: 0;
    display: -webkit-box;
}

.tab-wrapper {
    width: 100%;
    height: 32px;
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-box;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
}

.content-wrapper {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: calc(100vh - 64px);
    z-index: 1;
    background-color: white;
}

#url {
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 32px;
    height: 32px;
    font-family: Consolas, 'WenQuanYi Zen Hei Mono', monospace;
    font-size: 12px;
}

.tab {
    -webkit-box-flex: 1;
    line-height: 32px;
    font-size: 12px;
    cursor: pointer;
    background: lightgray;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    border-right: solid 1px gray;
    display: block;
    text-align: left;
}

.tab:hover {
    background: darkgray;
}

.tab:not(.current):focus {
    background: darkgray;
    outline: none;
}

.tab.current {
    background: dodgerblue;
    color: white;
}

.content.current {
    display: block;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 64px;
}

.add-tab, .minz, .maxz, .cloz {
    margin: 0;
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: lightyellow;
    cursor: pointer;
}

.add-tab:hover {
    background: purple;
}

.minz:hover {
    background: gold;
}

.maxz:hover {
    background: lightgreen;
}

.cloz:hover {
    background: orangered;
}

.add-tab:focus {
    background: purple;
    outline: none;
}

.minz:focus {
    background: gold;
    outline: none;
}

.maxz:focus {
    background: lightgreen;
    outline: none;
}

.cloz:focus {
    background: orangered;
    outline: none;
}

.first-use .add-tab {
    background: purple;
}

.first-use .minz {
    background: gold;
}

.first-use .maxz {
    background: lightgreen;
}

.first-use .cloz {
    background: orangered;
}

.lefttop-app-drag {
    -webkit-app-region: drag;
    background: lightyellow;
    width: 16px;
}

.righttop-app-drag {
    -webkit-app-region: drag;
    background: lightyellow;
    -webkit-box-flex: 0.5;
}

.url-wrapper > form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-flex: 1;
}

body {
    font-family: 'Microsoft YaHei UI Light', 'WenQuanYi Zen Hei', 'Microsoft YaHei UI', sans-serif;
}

input, textarea, keygen, select, button {
    font-family: inherit;
}

.tab-icon > img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}