.pluginBack2Dec-forward-btn, .pluginBack2Dec-back-btn {
    font-size: 0;
    height: 32px;
    width: 32px;
    margin: 0;
    border: none;
    padding: 0;
    display: block;
    background: url("back2Dec_back.svg");
    background-size: 32px 32px;
    cursor: pointer;
    transition: all 0.2s;
}

.pluginBack2Dec-forward-btn {
    transform: rotate(180deg);
}

.pluginBack2Dec-back-btn:hover {
    transform: scale(1.1, 1.1);
}

.pluginBack2Dec-forward-btn:hover {
    transform: rotate(180deg) scale(1.1, 1.1);
}

.pluginBack2Dec-back-btn:hover, .pluginBack2Dec-forward-btn:hover {
    box-shadow: 0 0 7px rgb(0, 42, 81);
    border-radius: 4px;
    background-color: white;
    outline: none;
}

.pluginBack2Dec-back-btn:active {
    transform: scale(0.8, 0.8);
}

.pluginBack2Dec-forward-btn:active {
    transform: rotate(180deg) scale(0.8, 0.8);
}

.pluginBack2Dec-back-btn:active, .pluginBack2Dec-forward-btn:active {
    outline: none;
    box-shadow: none;
}
