.pluginHistoryView-dialog {
    width: 700px;
    height: 100px;
    position: fixed;
    left: calc(50vw - 700px / 2);
    top: calc(50vh - 100px / 2);
    border: solid 1px black;
    background-color: #d6d2cf;
    padding: 24px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px gray;
    display: block;
}